<div class="mainContainer">
  <div class="subContainer">
    <div class="mainHeading">
      <div class="banner">
        <img src="/assets/logo.jpeg">
        <h1>
          Feedback Form (Visit bit.ly/sfolyfb1 if you are unable to fill this form.)
        </h1>
      </div>
      <p>
        A short feedback form to help us consistently deliver you the best
        and improve.
      </p>
      <p>
        Compulsory to get certificates.
        Certificates will be sent via email in December.
      </p>
      <p>
        Request you to please fill correct details only so that we can know where we are lagging.
      </p>
      <button class="btnRight">...</button>
    </div>
    <div class="formContainer">
      <p class="req"><span class="star">*</span> Required</p>
      <form class="formCls">

          <label class="label">1. Name of participant <span class="star">*</span></label>
          <input type="text" placeholder="Enter your answer" required>


          <label>2. Participated for? <span class="star">*</span> </label>

          <div><input type="checkbox"><label>SIEO</label></div>
          <div><input type="checkbox"> <label>SIMO</label></div>
          <div><input type="checkbox"> <label>SISO</label></div>
          <div><input type="checkbox"> <label>Grads Olympiad</label></div>
          <div class="checkCls"><input type="checkbox"> <label>Finance Olympiad</label></div>


          <label>3. How was the quality of the questions asked? </label>
          <div class="rating">
            <input type="radio" name="rating" value="5" id="10"><label for="10">☆</label>
            <input type="radio" name="rating" value="4" id="9"><label for="9">☆</label>
            <input type="radio" name="rating" value="3" id="8"><label for="8">☆</label>
            <input type="radio" name="rating" value="2" id="7"><label for="7">☆</label>
            <input type="radio" name="rating" value="1" id="6"><label for="6">☆</label>
            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>

          </div>

        <div>
          <label>4. How was the ease of giving the Olympiad? </label>
          <div class="rating">
            <input type="radio" name="rating" value="5" id="10"><label for="10">☆</label>
            <input type="radio" name="rating" value="4" id="9"><label for="9">☆</label>
            <input type="radio" name="rating" value="3" id="8"><label for="8">☆</label>
            <input type="radio" name="rating" value="2" id="7"><label for="7">☆</label>
            <input type="radio" name="rating" value="1" id="6"><label for="6">☆</label>
            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>

          </div>
        </div>
        <div>
          <label>5. Did you like the process of report generation? </label>
          <div class="rating">
            <input type="radio" name="rating" value="5" id="10"><label for="10">☆</label>
            <input type="radio" name="rating" value="4" id="9"><label for="9">☆</label>
            <input type="radio" name="rating" value="3" id="8"><label for="8">☆</label>
            <input type="radio" name="rating" value="2" id="7"><label for="7">☆</label>
            <input type="radio" name="rating" value="1" id="6"><label for="6">☆</label>
            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>

          </div>
        </div>
        <div>
          <label>6. How was the customer service, if you used any? </label>
          <div class="rating">
            <input type="radio" name="rating" value="5" id="10"><label for="10">☆</label>
            <input type="radio" name="rating" value="4" id="9"><label for="9">☆</label>
            <input type="radio" name="rating" value="3" id="8"><label for="8">☆</label>
            <input type="radio" name="rating" value="2" id="7"><label for="7">☆</label>
            <input type="radio" name="rating" value="1" id="6"><label for="6">☆</label>
            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>

          </div>
        </div>
        <div>
          <label>7. Anything that we need to improve. </label>
          <input type="text" required>
        </div>
        <div>
          <label>8. What did you like the best about us? </label>
          <input type="text" required>
        </div>
        <div>
          <label>9. How likely are you to participate in our Olympiads in the future? </label>
          <div class="rating">
            <input type="radio" name="rating" value="5" id="10"><label for="10">☆</label>
            <input type="radio" name="rating" value="4" id="9"><label for="9">☆</label>
            <input type="radio" name="rating" value="3" id="8"><label for="8">☆</label>
            <input type="radio" name="rating" value="2" id="7"><label for="7">☆</label>
            <input type="radio" name="rating" value="1" id="6"><label for="6">☆</label>
            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>

          </div>
        </div>
        <button class="btnSubmit">Submit</button>
      </form>
      <p class="formEnd">Never give out your password. <a href="#">Report abuse</a></p>
    </div>
    <div class="formContainer footer">
      <div>
        This content is created by the owner of the form.
        The data you submit will be sent to the form owner. Microsoft is not responsible for the privacy or security practices of its customers,
        including those of this form owner. Never give out your password.
      </div>
      <div class="last">
        Powered by Microsoft Forms | <a href="#">Privacy and cookies</a> | <a href="#">Terms of use</a>
      </div>
    </div>

  </div>
</div>

